{% extends '::base.html.twig' %}
{% block title -%}Character Attribute{% endblock %}

{% block body -%}
    <h1>CharacterAttributes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Character</th>
                <td>{{ entity.character.name }}</td>
            </tr>
            <tr>
                <th>Attribute</th>
                <td>{{ entity.attribute.name }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }} {{ entity.attribute.unit }}</td>
            </tr>
        </tbody>
    </table>

    <div>
    	<a class="btn btn-default btn-xs" href="{{ path('characterattributes') }}">
    	    Back
		</a>
	</div>
	<div>
	    <a class="btn btn-default btn-xs" href="{{ path('characterattributes_edit', { 'id': entity.id }) }}">
    	    Edit
		</a>
	</div>
    {{ form(delete_form) }}
{% endblock %}
