{% extends '::base.html.twig' %}
{% block title -%}Character{% endblock %}

{% block body -%}
    <h1>Character: {{ entity.name }}</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Character Type</th>
            </tr>
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.type.name }}</td>
            </tr>

            <tr>
                <th>Character Attribute</th>
                <th>Value</th>
            </tr>

			{% for characterAttribute in entity.characterAttributes %}
				<tr>
            		<td>{{ characterAttribute.attribute }}</td>
            		<td>{{ characterAttribute.value }} {{ characterAttribute.attribute.unit }}</td>
            	</tr>
			{% endfor %}
		</tbody>
	</table>

    <div>
        <a class="btn btn-default btn-xs" href="{{ path('characters') }}">
            Back
        </a>
    </div>
    <div>
        <a class="btn btn-default btn-xs" href="{{ path('characters_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </div>
    {{ form(delete_form) }}
{% endblock %}
