{% extends '::base.html.twig' %}
{% block title -%}Character{% endblock %}

{% block body -%}
    <h1>Character</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Character Type</th>
                <td>{{ entity.type.name }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-default btn-xs" href="{{ path('characters') }}">
            Back
        </a>
    </div>
    <div>
        <a class="btn btn-default btn-xs" href="{{ path('characters_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </div>
    {{ form(delete_form) }}
{% endblock %}
